<div class="container-fluid full-page-container">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-4 col-sm-8 animated fadeIn">
      <!-- Material form login -->
      <mat-card [class.mat-elevation-z5]="true">
        <mat-card-header class="white text-center py-4">
          <mat-card-title>
            <p>Registro</p>
          </mat-card-title>
        </mat-card-header>
        <!--Card content-->
        <mat-card-content class="px-lg-5 pt-0">
          <div *ngIf="error$ | async as error" class="alert alert-danger" role="alert">
            {{ error }}
          </div>
          <!-- Form -->
          <form [formGroup]="registerForm" novalidate (ngSubmit)="onRegister()">

            <!-- Username -->
            <mat-form-field>
              <mat-label>Nombre de usuario</mat-label>
              <input matInput type="text" #username formControlName="username">
            </mat-form-field>

            <!-- Email -->
            <mat-form-field>
              <mat-label>Correo electrónico</mat-label>
              <input matInput type="email" #email formControlName="email">
            </mat-form-field>

            <!-- Password -->
            <mat-form-field>
              <mat-label>Contraseña</mat-label>
              <input matInput type="password" #password formControlName="password">
            </mat-form-field>

            <!-- Sign in button -->
            <button mat-raised-button color="primary" class="my-4" type="submit">Registrar</button>

            <!-- Register -->
            <p>¿Ya esta inscrito?
              <a [routerLink]="['/login']">Inicia sesión</a>
            </p>

          </form>
          <!-- Form -->

        </mat-card-content>

      </mat-card>
      <!-- Material form login -->
    </div>
  </div>
</div>
