<div class="container-fluid full-page-container">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-4 col-sm-8 animated fadeIn">
      <!-- Material form login -->
      <mat-card [class.mat-elevation-z5]="true">
        <mat-card-header class="white text-center py-4">
          <mat-card-title>
            <p>Inicio de sesión</p>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="px-lg-5 pt-0">
          <div *ngIf="error$ | async as error" class="alert alert-danger" role="alert">
            {{ error }}
          </div>
          <!-- Form -->
          <form [formGroup]="loginForm" novalidate (ngSubmit)="onLogin()">

            <!-- Email -->
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Correo electrónico</mat-label>
                <input matInput type="email" #email formControlName="email">
                <mat-error *ngIf="email.invalid">{{error$}}</mat-error>
              </mat-form-field>
            </p>
            <!-- Password -->
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" #password formControlName="password">
                <mat-error *ngIf="password.invalid">{{error$}}</mat-error>

              </mat-form-field>
            </p>


            <!-- Sign in button -->
            <button mat-raised-button color="primary" block="true" class="my-4" type="submit"
              (click)="onLogin()">Entrar</button>
          </form>
          <!-- Register -->
          <p>¿No está inscrito? Regístrate
            <a [routerLink]="['/register']">aquí</a>
          </p>
          <!-- Social login -->
          <p>o usa tus redes sociales:</p>
          <a mat-icon-button type="button" class="mr-4" (click)="onSocialLogin('facebook')">
            <fa-icon [icon]="facebook" size="lg"></fa-icon>
          </a>
          <a mat-icon-button type="button" class="mr-4" (click)="onSocialLogin('twitter')">
            <fa-icon [icon]="twitter" size="lg"></fa-icon>
          </a>
          <a mat-icon-button type="button" (click)="onSocialLogin('google')">
            <fa-icon [icon]="google" size="lg"></fa-icon>
          </a>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
