<mat-toolbar [class.mat-elevation-z5]="true">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div fxLayout="row">
      <button mat-icon-button [routerLink]="['/']">
        <fa-icon [icon]="home" size="lg"></fa-icon>
      </button>
      <!--buttons disappear on Xs devices-->
      <div *ngIf="(!deviceXs && isLoggedIn)">
        <!--  <button mat-button [routerLink]="['/profile']">
          Perfil
        </button>
        <button mat-button [routerLink]="['/admin-panel']">
          Administrador
        </button> -->
      </div>
      <!---->
    </div>
    <div fxLayout="row">
      <button *ngIf="!isLoggedIn" mat-icon-button [matMenuTriggerFor]="users"
        aria-label="Example icon-button with a menu">
        <fa-icon [icon]="userIcon" size="lg"></fa-icon>
      </button>
      <button *ngIf="isLoggedIn" mat-icon-button [matMenuTriggerFor]="useractions"
        aria-label="Example icon-button with a menu">
        <img class="img-fluid img-thumbnail rounded-circle" src="{{user.photoUrl}}">
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <fa-icon [icon]="dots" size="lg"></fa-icon>
      </button>
    </div>
  </mat-toolbar-row>
  <!--mat-toolbar-row displayed on Xs devices-->
  <mat-toolbar-row *ngIf="deviceXs && isLoggedIn" fxLayoutAlign="space-between center">
    <!-- <button mat-button [routerLink]="['/profile']">
      Perfil
    </button>
    <button *ngIf="isAdmin" mat-button [routerLink]="['/admin-panel']">
      Administrador
    </button> -->
  </mat-toolbar-row>
  <!---->
</mat-toolbar>
<!-- Menu Items -->
<mat-menu #menu="matMenu" fxLayoutAlign="end">
  <button mat-menu-item [routerLink]="['/under-construction']">
    Ayuda
  </button>
  <button mat-menu-item [routerLink]="['/about']">
    Acerca de...
  </button>
</mat-menu>
<mat-menu #users="matMenu" fxLayoutAlign="end">
  <button mat-menu-item [routerLink]="['login']">
    Entrar
  </button>
  <button mat-menu-item [routerLink]="['register']">
    Registro
  </button>
</mat-menu>
<mat-menu #useractions="matMenu" fxLayoutAlign="end">
  <button mat-menu-item [routerLink]="['profile']">
    Mi cuenta
  </button>
  <button *ngIf="isAdmin" mat-menu-item [routerLink]="['admin-panel']">
    Administración
  </button>
  <button mat-menu-item (click)="onLogout()">
    Cerrar sesión
  </button>
</mat-menu>
