<mat-toolbar [class.mat-elevation-z10]="true">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div fxLayout="row">
      <button mat-icon-button [routerLink]="['/']">
        <fa-icon [icon]="home" size="lg"></fa-icon>
      </button>
      <!--buttons disappear on Xs devices-->
      <div *ngIf="(!deviceXs && isLoggedIn)">
        <button mat-button [routerLink]="['/courses/all']">
          Mis materias
        </button>
        <button mat-button [routerLink]="['/information/menu']">
          Mi desempeño
        </button>
      </div>
      <!---->
    </div>
    <div fxLayout="row">
      <button mat-icon-button *ngIf="isLoggedIn && isAdmin" class="mx-1" [matMenuTriggerFor]="newmenu"
        aria-label="Agregar un curso o alumno">
        <fa-icon [icon]="plus" size="lg" matTooltip="Crear curso"></fa-icon>
      </button>
      <button *ngIf="!isLoggedIn" mat-icon-button [matMenuTriggerFor]="users"
        aria-label="Example icon-button with a menu" class="mx-1">
        <fa-icon [icon]="userIcon" size="lg"></fa-icon>
      </button>
      <button *ngIf="isLoggedIn" mat-icon-button [matMenuTriggerFor]="useractions"
        aria-label="Example icon-button with a menu" class="mx-1">
        <img class="img-fluid img-thumbnail rounded-circle" src="{{user.photoUrl}}">
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="mx-1">
        <fa-icon [icon]="dots" size="lg"></fa-icon>
      </button>
    </div>
  </mat-toolbar-row>
  <!--mat-toolbar-row displayed on Xs devices-->
  <mat-toolbar-row *ngIf="deviceXs && isLoggedIn" fxLayoutAlign="space-between center">
    <button mat-button [routerLink]="['/courses/all']">
      Mis materias
    </button>
    <button mat-button [routerLink]="['/information/menu']">
      Mi desempeño
    </button>
  </mat-toolbar-row>
  <!---->
</mat-toolbar>
<!-- Menu Items -->
<mat-menu #newmenu="matMenu" fxLayoutAlign="end">
  <button mat-menu-item [routerLink]="['/under-construction']">
    Nuevo curso
  </button>
  <button mat-menu-item [routerLink]="['/register']">
    Añadir estudiante a curso
  </button>
</mat-menu>
<!-- -->
<!-- Menu Items -->
<mat-menu #menu="matMenu" fxLayoutAlign="end">
  <button mat-menu-item [routerLink]="['/under-construction']">
    Ayuda
  </button>
  <button mat-menu-item [routerLink]="['/about']">
    Acerca de...
  </button>
</mat-menu>
<!-- -->
<!-- Menu Items -->
<mat-menu #users="matMenu" fxLayoutAlign="end">
  <button mat-menu-item [routerLink]="['login']">
    Entrar
  </button>
  <button mat-menu-item [routerLink]="['register']">
    Registro
  </button>
</mat-menu>
<!-- -->
<!-- Menu Items -->
<mat-menu #useractions="matMenu" fxLayoutAlign="end">
  <button mat-menu-item [routerLink]="['profile']">
    Mi cuenta
  </button>
  <button *ngIf="isAdmin" mat-menu-item [routerLink]="['admin-panel']">
    Administración
  </button>
  <button mat-menu-item (click)="onLogout()">
    Cerrar sesión
  </button>
</mat-menu>
<!-- -->
