<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h4>{{ course.title }}</h4>
    </mat-card-title>
  </mat-card-header>
  <!--Card content-->
  <mat-card-content>
    {{ course.description }}
  </mat-card-content>
  <mat-card-footer class="btn-block text-right">
    <button mat-button *ngIf="editable" class="btn btn-primary" (click)="onEdit()">Editar</button>
    <button mat-button class="btn btn-danger" (click)="onDelete()">Eliminar</button>
    <button mat-button class="btn btn-warning">Inscribir Alumno</button>
  </mat-card-footer>
</mat-card>
