<div class="py-5">
  <carousel [noPause]="false">
    <ng-container *ngFor="let item of cardItems">
      <slide>
        <!--<img src="{{item.imageUrl}}" alt="First slide" style="display: block; width: 100%;">  -->
        <div class="text-center py-5 bg-dark text-white">
          <h1>{{ item.title }}</h1>
          <div class="lead">
            <h3 class="text-warning">{{item.subtitle}}</h3>
            <p>{{ item.description }}</p>
          </div>
        </div>
      </slide>
    </ng-container>
  </carousel>
</div>
<div class="px-5 py-5">
  Bienvenido
</div>
<div class="px-0 py-5 bg-dark">

</div>
