<div class="modal-content">
  <div class="modal-header">
    <!--     <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
  <span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
    </button>-->
    <h4 class="modal-title w-100" #myModalLabel>Eliminar</h4>
  </div>
  <div class="modal-body">
    <p>¿Está seguro de borrar este elemento?</p>
  </div>
  <div class="modal-footer">
    <!-- <button type="button" mat-button color="white" class="black-text waves-light" aria-label="Close"
      (click)="modalRef.hide()">Cancelar</button>
    <button type="button" mat-button color="red" class="waves-light" mdbWavesEffect
      (click)="onDelete()">Eliminar</button> -->
  </div>
</div>
