/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-page-container {
  height: calc(100vh - 114px);
}

.footer-absolute {
  position: relative;
  bottom: 0;
  width: 100%;
}

app-welcome {
  background-color: white;
}

/*This is important for the toolbar shadow*/
app-header {
  position: relative;
  top: 0;
  width: 100%;
}
